<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>oss</id>
            <username>${env.NEXUS_USERNAME}</username>
            <password>${env.NEXUS_PASSWORD}</password>
        </server>
        <server>
            <id>Jens Hausherr &lt;jens.hausherr@new-work.se&gt;</id>
            <passphrase>${env.GPG_PASSPHRASE}</passphrase>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>oss</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.keyname>Jens Hausherr &lt;jens.hausherr@new-work.se&gt;</gpg.keyname>
            </properties>
        </profile>
    </profiles>
</settings>
