<configuration>
    <appender name="logonfail" class="com.xing.testing.TestFailureLogger" >
        <encoder>
            <pattern>[%level] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="TRACE">
        <appender-ref ref="logonfail" />
    </root>
</configuration>
